<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839332022784-t52qks4ngqhvd274ntc7nrcd9vq3pbv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839332022784-t52qks4ngqhvd274ntc7nrcd9vq3pbv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839332022784-m2ku19s70jhtrn7r08pgvmg0n0vqs9o9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_yZxD2BT3DBw5kqoNNr7SSWXym1gPx4</string>
	<key>GCM_SENDER_ID</key>
	<string>839332022784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Filmoteka</string>
	<key>PROJECT_ID</key>
	<string>filmoteka-29d04</string>
	<key>STORAGE_BUCKET</key>
	<string>filmoteka-29d04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839332022784:ios:f24d0b7d91d40ae44326e5</string>
	<key>DATABASE_URL</key>
	<string>https://filmoteka-29d04-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>